
div.container{
    text-align: center;
    font-size: 20px;
    height: 80%; 
    width: 70%;
    text-align: center;
    margin: 0 auto;
    border: dashed 10px black;
}
div.blanks {
    border: solid black 1px;
    font-size:50px;
    text-align: center;
    margin: 0 auto;
    height: 200px;
    width: 70%;
}